<div class="invoice">
  <form name="course-form" #courseForm="ngForm">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-shopping-cart"></i> Course Form
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <cp-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Nome">
          <input class="form-control" name="nome" required ngModel minlength="5" autocomplete="off" />
        </cp-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
          <cp-input-container errorMessage="Usuário deve possuir no mínimo 18." label="Idade">
            <input 
              class="form-control" 
              name="idade"
              type="number" 
              [min]="18" 
              [max]="30" 
              required 
              [(ngModel)]="idade" 
              #ida="ngModel" 
              autocomplete="off" />
          </cp-input-container>
      </div>
    </div>
  </form>
</div>