<div class="invoice">
  <form  #courseForm="ngForm" novalidate>
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-shopping-cart"></i> Course Form
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <cp-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Nome">
          <input class="form-control" name="name" ngModel minlength="5" placeholder="Nome" autocomplete="off" />
        </cp-input-container>
      </div>
    </div>
  </form>
</div>